<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="EntityModel" xmlns="http://ibatis.apache.org/mapping"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<resultMaps>
		<resultMap id="BaseResultMap" class="digitallearningback.DAO.Models.InfoUser" >
			<result property="id" column="id" dbType="INT"/>
			<result property="name" column="name" dbType="NVARCHAR"/>
			<result property="gender" column="gender" dbType="NVARCHAR"/>
			<result property="age" column="age" dbType="NVARCHAR"/>
			<result property="grade" column="grade" dbType="NVARCHAR" />
			<result property="character_image" column="character_image" dbType="NVARCHAR"/>
			<result property="pet_image" column="pet_image" dbType="NVARCHAR"/>
			<result property="pet_name" column="pet_name" dbType="NVARCHAR"/>
			<result property="login_id" column="login_id" dbType="NVARCHAR"/>
			<result property="password" column="password" dbType="NVARCHAR"/>
			<result property="joindate" column="joindate" dbType="DATETIME"/>
			<result property="cimage_type" column="cimage_type" dbType="NVARCHAR"/>
			<result property="pimage_type" column="pimage_type" dbType="NVARCHAR"/>
			<result property="login_count" column="login_count" dbType="INT"/>
			<result property="group_id" column="group_id" dbType="INT"/>
			<result property="teacher_id" column="teacher_id" dbType="NVARCHAR"/>
			<result property="money" column="money" dbType="INT"/>
			<result property="experience" column="experience" dbType="INT"/>
			<result property="hp" column="hp" dbType="INT"/>
		</resultMap>
	</resultMaps>

	<statements>

		<select id="selectByLoginId" resultMap="BaseResultMap">
			select * from InfoUser where login_id = #login_id#
		</select>


	</statements>

</sqlMap>