<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- 連線測試DB
         140.138.155.183  : QWEB 
        -->
    <!-- 連線池設定 
                  Pooling : true or false (是否開啟連線池 *若無設定 , 預設為true)
                  Min Pool Size : 最小連線數  *若無設定 , 預設為0  (預設為0也就是代表所有連線用完即丟棄,不會有任何連線存活)
                  Max Pool Size : 最大連線數  *若無設定 , 預設為100
                  Connection Lifetime : 連線存活時間
         詳情參閱:  https://msdn.microsoft.com/zh-tw/library/system.data.sqlclient.sqlconnection.connectionstring(v=vs.110).aspx
    -->
  <add name="DefaultConnection" connectionString="Data Source=tcp:127.0.0.1,49172;Initial Catalog=yzucs;Persist Security Info=True;User ID=yzucs;Password=pwdyzucs;          Min Pool Size=5;Max Pool Size=15;Connection Lifetime=600;" providerName="System.Data.SqlClient" />
  <add name="yzucsEntities" connectionString="metadata=res://*/Models.yzucs.csdl|res://*/Models.yzucs.ssdl|res://*/Models.yzucs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:127.0.0.1,49172;initial catalog=yzucs;persist security info=True;user id=yzucs;password=yzucspwd;min pool size=5;max pool size=15;multipleactiveresultsets=True;load balance timeout=600;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

	<!--遊戲角色圖片上傳路徑  -->  
	<add key="Character_imageDir" value="~/Images/Character_image" />
	<add key="Character_imageUrl" value="/Images/Character_image/" />

	<!--題目圖片上傳路徑  -->
	<add key="Question_imageDir" value="~/Images/Question_image" />
	<add key="Question_imageUrl" value="/Images/Question_image/" />

	<!--選項圖片上傳路徑  -->
	<add key="Answer_imageDir" value="~/Images/Answer_image" />
  <add key="Answer_imageUrl" value="/Images/Answer_image/" />
	
	<!-- App_Data 資料夾在 NET MVC 預設無法由前端 URL 存取檔案 , 僅供開發後台資料可以放在此資料夾 -->  
	<!-- digitallearningback.Util.Log4Net 開啟關閉 GLOBAL 設定 : off 關閉 / on 開啟 --> 
	<add key="Log4NetPrint" value="off" /> 
	<!-- Log 檔路徑  -->
	<add key="App_DebugLog" value="~/App_Data/Logs/App_Debug/" /><!-- 開發者debug Log (Log4Net) -->
  <add key="App_LoginLog" value="~/App_Data/Logs/App_Login/" /><!-- 使用者登入Log (Log4Net) -->
	<add key="App_ExceptionLog" value="~/App_Data/Logs/App_Exception/" /> <!-- 系統例外Log -->
	  
  </appSettings>
  <system.web>
	  
	<!-- 若要在本機伺服器電腦上檢視此特定錯誤訊息的詳細資訊，請在目前 Web 應用程式根目錄內的 "web.config" 組態檔中建立
	<customErrors> 標記。然後將此 <customErrors> 標記的 "mode" 屬性設成 "RemoteOnly"。若要在遠端電腦上檢視詳細資訊，則需將 "mode" 設為 "Off"。  -->
	<customErrors mode="On" />
	 
    
	<compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>