 <!-- bootstrap  Modal View 框架 -->
 <!-- 用在 Play/GameOn.cshtml 答題錯誤後 跳出正確答案資訊 -->
<div class="modal fade" id="question_detail_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body" id="question_detail_body">

            </div>

        </div>
    </div>
</div> 
