<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>歡迎登入遊戲式練習系統</title>
    @Styles.Render("~/Content/login.css")
</head>
<body>

    <img class="gwd-img-1j4a" src="@Url.Content("~/Images/View_image/background_login.png")" style="">
    <div class="gwd-div-ilnq" style=""></div>

    <form action="/Login/LoginForLtLab" method="post">
        <input type="text" name="userid" class="gwd-input-gbnv">
        <input type="password"  name="password" class="gwd-input-imcr">
        <button type="submit" class="gwd-button-r673">登入</button>
    </form>

    <p class="gwd-button-fujb"> 歡迎登入遊戲式練習系統  </p>

    <div class="gwd-div-14v4" style="">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>

</body>
</html>
